*{
    margin: 0;
    padding: 0;
}
/* Coordinator */
.main-div{
    display: grid;
    grid-template-columns: .8fr 1.1fr;
}

.text{
    background-color: #d3d3d3;
    padding: 10px;
}

.but{
    background-color: black;
}

.h2{
    text-align: center;
}

.text{
    margin: 0 0 20px -44%;
    width: 101%;
    
}
