*{
    margin: 0;
    padding: 0;
}

.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 10px 0 35px;
    background-color: aliceblue;
    width: 95%;
}