.body{
   
    height: 790px;
}

.headers{
    display: flex;
    background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    margin: 0 0 200px 0;
    padding: 10px;
}

.main-title{
    margin: 5px 0 0 10px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div-butt{
    margin: 0 0 0 200px;
}

.coor-butt{
    margin: 0 0 20px 0;
}

.button1, .button2{
    height: 100px;
    width: 300px;
    
}
blockquote{
    text-align: justify;
    color: black;
    text-indent: 50px;
}

.information{
    background-color: #D3D3D3;
    width: 550px;
    padding: 10px;
}

.title{
    color: black;
}

.information {

    overflow:hidden;
  }
  .information .title {
    animation: 10s slide-right;
  }
  
  @keyframes slide-right {
    from {
      margin-left: 100%;
   
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.img{
    width: 50px;
    height: 50px;
}