

.parent{
    
    padding: 10px;
}
.parentsss{
    background-color: white;
}

.items{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr 1.5fr 1.2fr 1.2fr 1.2fr;
    
}

.email{
    margin: 0 10px 0 0px;
}